
#diagram1 .diagram {
    display: inline-block;
}

.diagram {
    margin-left: auto;
    margin-right: auto;
}

.axis {
    --long-side: calc(100% - var(--grid-size) * 4);
}

.equation {
    display: inline-block;
    width: 60px;
}
